
<el-button style="margin-top: 10px; margin-left: 10px;" type="success" (click)="toHome()">Home</el-button>

<div class="box">
    <div el-row gutter="20">
        <div el-col span="6" offset="9">
            <el-card class="box-card">
                <ng-template #header>
                    <div class="clearfix">
                        <el-button type="success" (click)="generateSuccessCard()">Genereaza card valid</el-button>
                        <el-button type="warning" style="float:right;" (click)="generateFailedCard()">Genereaza card gresit</el-button>
                    </div>
                </ng-template>

                <div el-row gutter="20">
                    <el-form (ngSubmit)="onSubmit()">
                        <div el-col span="24" >
                            <el-form-item label="Nume">                            
                                <el-input [(ngModel)]="model.nume" name="nume" #nume="ngModel"></el-input>                            
                            </el-form-item>  
                        </div>  
                        <div el-col span="24" >
                            <el-form-item label="Numar card" >
                                <el-input [(ngModel)]="model.numarCard" name="numarCard" #numarCard="ngModel"></el-input>
                            </el-form-item>
                        </div>                                              
                        <div el-col span="12" >
                            <el-form-item label="Data expirare" >
                                <el-input [(ngModel)]="model.dataExpirare" name="dataExpirare" #dataExpirare="ngModel"></el-input>
                            </el-form-item>
                        </div>
                        <div el-col span="12" >
                            <el-form-item label="Cod securitate" >
                                <el-input [(ngModel)]="model.codSecuritate" name="codSecuritate" #codSecuritate="ngModel"></el-input>
                            </el-form-item>
                        </div>                                                                                                                 
                    </el-form>                    
                </div>

                <div style="margin-top: 20px;">
                    <el-button (click)="reset()">Reset</el-button>                            
                    <el-button [elDisabled]="disabled" style="float:right;" type="primary" (click)="onSubmit()">Plateste {{suma}} lei </el-button>
                </div>
                 {{raspuns}}              
            </el-card>
        </div>
    </div>
</div>
    


    
