
<el-button type="success" (click)="toHome()">Home</el-button>

    <div el-row gutter="20">
        <div el-col span="6" offset="8">
            <el-card class="box-card"></el-card>
                <form (ngSubmit)="onSubmit()" >
                    <div class="form-group">
                        <label for="nume">Nume</label>
                        <input type="text" class="form-control" id="nume"
                            required
                            [(ngModel)]="model.nume" name="nume"
                            #nume="ngModel">                        
                    </div>
                        <label for="numarCard">Numar card</label>
                        <input type="text" class="form-control" id="numarCard"
                            required
                            [(ngModel)]="model.numarCard" name="numarCard"
                            #numarCard="ngModel">
                    
        
                    <div el-row gutter="15">
                        <div el-col span="12">
                            <label for="dataExpirare">Data expirare</label>
                            <input type="text" class="form-control"                       
                                [(ngModel)]="model.dataExpirare" name="dataExpirare"
                                #dataExpirare="ngModel">                  
                        </div>
                
                        <div el-col span="12" >
                            <label for="codSecuritate">Cod securitate</label>
                            <input type="text"  id="codSecuritate"
                                required
                                [(ngModel)]="model.codSecuritate" name="codSecuritate"
                                #codSecuritate="ngModel">                    
                        </div>
                    </div>
                    
                    <div el-row style="margin-top:20px">
                        <div el-col span="24">
                            
                            <el-button (click)="reset()">Reset</el-button>
                            <el-button (click)="reset()">Genereaza card valid</el-button>
                            <el-button (click)="reset()">Genereaza card gresit</el-button>
                            <el-button type="success" (click)="onSubmit()">Plateste {{suma}} lei </el-button>
                            
                        </div>
                        <div el-col style="margin-top: 10px;">
                            
                        </div>
                    </div>
                </form>
            </el-card>
        </div>
    </div>


    
